
.jumbotron{
  margin-top: 2%;
}

#backspace{
  margin-top: auto;
  margin-bottom: auto;
}

#content{
  padding:10px;
  
}

.container{
  height:100%;
  width: 100%;
  display: flex;
}

.input_video{
  display: none;
}

#model-controls{
  padding: 5px;
  min-width: 100%; 
  width: auto; 
  vertical-align: middle;
  white-space: nowrap;
  display:flex;
  justify-content: space-between;
}


#model-change{
  margin-top: auto;
  margin-bottom: auto;
  
}

#model-name{
  display: inline-block;
  padding: 10px;
}



.output_canvas{
  padding: 10px;
  width:680px;
  height:480px;
  display: block;
  margin-right: auto;
  z-index: 3;
}

#top-controls{
  padding: 5px;
  min-width: 100%; 
  width: auto; 
  vertical-align: middle;
  white-space: nowrap;
  display:flex;
  justify-content: space-between;
}
#top-controls-translate{
  position: absolute;
  top: 264px;
 
  padding: 20px;
  min-width: 100%; 
  width: auto; 
  vertical-align: middle;
  white-space: nowrap;
  display:flex;
  justify-content: space-between;
}
#global-content{
  width: auto; 
  vertical-align: middle;
  white-space: nowrap;
  display:flex;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
}
*{
  padding: 0;
  margin: 0;
}



#slider{
  width: 100%;
  margin-bottom: 40px;
 }
 .carousel-caption{
  padding: 0px;
  border: 0px;
  top:60%;
  transform: translateY(-50%);
  bottom: initial!important;
 
  border-radius: 20px;
 }
 .carousel-caption h5{
  color:rgba(255, 255, 255, 0.89);
  font-size: 42px;
 
 }

 #global-sentence {
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
}


body{
  overflow-x: hidden;
  margin: 0;
  font-family: 'Poppins', sans-serif;
 
}

#label{
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

#model-name{
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  padding-top: 6px;

}
/* #model-change:hover{
  text-align: center;
  background-color:black;
}
#backspace:hover{
  text-align: center;
  background-color:black;
  
}

#space:hover{
  text-align: center;
  background-color:black;
  
}

#camera-switch:hover{
  text-align: center;
  background-color:black;
  
} */

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* CSS */


/* File upload styling  */

/* Import Google font - Poppins */
